
.main {
  background: linear-gradient(180deg, #010005, #28017c, #770056);
  min-height: 100vh;
  color: white;
  padding-top: 5%;
  text-align: center;
  position: relative;
  overflow-x: hidden;

}


.input_theme,
.input_number_question {
  margin-top: 40px;
}

.input_theme h2,
.input_number_question h2 {
  margin-bottom: 15px;
}

.input_theme input,
.input_number_question input {
  width: 50%;
  padding: 12px 20px;
  background-color: rgba(255,255,255,0.15);
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  transition: 0.2s;
}

.input_theme input:focus,
.input_number_question input:focus {
  background-color: rgba(255,255,255,0.25);
  border-color: white;
}


button {
  padding: 15px 40px;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  color: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
  transition: 0.25s;
}

button:hover {
  background: rgba(255,255,255,0.15);
  transform: scale(1.05);
}


button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}