footer {
  background: white;
  color: #333;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 10px 0;
  font-size: 14px;
}

.footer-links {
  display: flex; 
  justify-content: center; 
  list-style: none;
  
  gap: 20px; 
  
  margin: 0;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #770056;
}