.inscription-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(180deg, #010005, #28017c, #770056);
  color: white;
  box-sizing: border-box;
}

.inscription-form {
  width: 90%;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
}

.inscription-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.inscription-field-group {
  margin-bottom: 20px;
}

.inscription-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.inscription-input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  box-sizing: border-box;
}

.inscription-submit-button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #7c3da3;
  border: 1px solid #7c3da3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.inscription-error {
  color: #ffcccc;
  margin-bottom: 10px;
}
