.alert_pop_up {
  background-color: rgba(30, 30, 30, 0.95);
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-right: 4px solid #00ff88;
  border-radius: 8px;
  font-family: "Press Start 2P", monospace, sans-serif;
  font-size: 12px;
  box-shadow: 0 0 10px #00ff88;
  opacity: 0;
  animation: slide-in-right 0.3s ease-out forwards,
    fade-out 0.5s ease-in 2.5s forwards;
}
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}