

.question-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 50px; 
    
    background: linear-gradient(145deg, #1f0c40, #5c20a1, #7c3da3, #a34fc0); 
    color: white;
    box-sizing: border-box;
}



.question-card {
    width: 90%;
    max-width: 400px; 
    padding: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.question-title {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
    width: 100%;
}

.timer {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}



.options {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid white; 
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.bottom-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.action-button {
    width: 48%;
    padding: 12px 0;
    border-radius: 5px;
    border: 1px solid white; 
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.option.option-selected {
    background-color: #FF9800; 
    border-color: #FF9800;
}


.option.option-correct {
    background-color: #4CAF50; 
    border-color: #4CAF50;
}


.option.option-incorrect {
    background-color: #F44336; 
    border-color: #F44336;

}


.option[disabled] {
    cursor: default;
    opacity: 0.8;
}