.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo-text {
  font-size: 14px;
  opacity: 0.7;
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
}

.quiz-title {
  text-align: center;
  font-size: 38px; 
  font-weight: 600;
  margin-bottom: 70px;
}

.button-group {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  padding: 0 5%; 
}


.quiz-button {
  width: 100%;
  padding: 20px 0; 
  font-size: 20px; 
  font-weight: 600;
  border: 2px solid white; 
  border-radius: 10px;
  cursor: pointer;
  background: transparent; 
  color: white; 
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2); 
  transition: background-color 0.2s;
}


.quiz-button.primary {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(255, 255, 255, 0.2);
}